@use "./variables.scss" as *;

// put your custom CSS here!
.two-columns {
    columns: 2;
}
/* container */
.two-columns-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* columns */
.two-columns-grid > * {
    padding:1rem;
}